.navbar {
  /* background-color: rgba(209, 212, 214, 0.959); */
  text-align: center;
  color: red !important;
  font-size: 1em !important;
}

.navbar a {
  display: inline-block;
  padding: 10px;
  color: #ffffff;
  text-decoration: none;
  font-size: 1em !important;
  text-align: center;
}

.page-info {
  text-align: center;
  font-weight: bold;
}

.page-content {
  text-align: left;
  font-weight: normal;
  padding-left: 10px;
  padding-right: 10px;
}
